/*全体*/
body{
    font-size: 6em;
    text-align: center;
}

/*タイマー*/
.count{
    margin: 0;
    font-weight: bold;
    color: #888;
}



/*テキスト*/
.wrap{
    margin: 20px 0px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

/*タイプされたら*/
.typed{
    color: lightgreen;
}

/*ミスタイプされたら*/
.mistyped{
    background-color: red;
}